.center-contents[data-v-751e9b80],.mobile-back-btns-wrapper[data-v-751e9b80],.mobile-back-btns[data-v-751e9b80],.mobile-back-btns a[data-v-751e9b80]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-751e9b80],.mobile-back-btns[data-v-751e9b80]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-751e9b80{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-751e9b80{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}.mobile-back-btns-wrapper[data-v-751e9b80]{position:absolute;z-index:1;right:65px;white-space:nowrap}.mobile-back-btns[data-v-751e9b80]{cursor:pointer;border-radius:999999px;width:32px;height:32px;background:rgba(41,41,41,0.9);border:1px solid #fff;position:relative;top:0;margin:7px}.mobile-back-btns[data-v-751e9b80],.mobile-back-btns svg[data-v-751e9b80]{color:#fff}.mobile-back-btns[data-v-751e9b80],.mobile-back-btns a[data-v-751e9b80]{width:32px;height:32px}.mobile-back-btns.disabled[data-v-751e9b80]{border-color:#b1b1b1 !important}.mobile-back-btns.disabled svg[data-v-751e9b80]{color:#999 !important}.viewport-float[data-v-751e9b80]{position:fixed;top:unset !important;bottom:20px;right:20px}

.center-contents[data-v-1cd01134]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-1cd01134]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-1cd01134{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-1cd01134{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}.light-switch>div[data-v-1cd01134]{outline:none}.light-switch>div[data-v-1cd01134]:focus,.light-switch>div[data-v-1cd01134]:active{color:#f79a1c}

.center-contents[data-v-3d17f3cf],.search-btn .float[data-v-3d17f3cf]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-3d17f3cf]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-3d17f3cf{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-3d17f3cf{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}.search-btn[data-v-3d17f3cf]:focus,.search-btn[data-v-3d17f3cf]:active{color:#f79a1c}.search-btn .float[data-v-3d17f3cf]{position:absolute;top:-46px;cursor:pointer;border-radius:999999px;width:32px;height:32px;background:rgba(41,41,41,0.9);border:1px solid #fff}.search-btn .float[data-v-3d17f3cf],.search-btn .float svg[data-v-3d17f3cf]{color:#fff}

.center-contents{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}.theme-light #audio-player{flex:unset;max-width:unset;width:100%;text-align:center;margin:0 auto !important;margin-top:0 !important;box-sizing:border-box;background:#f2f2f2;color:#212325;position:relative;z-index:0;display:flex;flex-direction:row;align-content:center;align-items:center;padding:11px 25px}.theme-light #audio-player:before{content:'';position:absolute;top:0;right:0;left:0;height:11px;background:linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%)}.theme-light #audio-player .inner-wrap{display:flex;flex-direction:row;width:100%;font-size:17px;line-height:17px}.theme-light #audio-player .book{cursor:pointer;display:flex;justify-content:center;align-items:center;font-size:15px;line-height:18px;color:#212325;margin-right:50px}.theme-light #audio-player .player-innards{flex:1;display:flex;flex-direction:row;justify-items:center;align-items:center}.theme-light #audio-player .time-display{color:#212325;font-family:'Inconsolata', monospace;margin-right:20px;display:flex;justify-items:center;align-items:center}.theme-light #audio-player .player-buttons{display:flex;flex-direction:row;align-content:center;align-items:center;padding-left:20px}.theme-light #audio-player .player-buttons>div{cursor:pointer;margin-left:15px;padding:5px}.theme-light #audio-player .player-buttons>div:first-child{padding-left:0}.theme-light #audio-player input[type="range"]{-webkit-appearance:none;appearance:none;background:transparent;cursor:pointer;width:100%}.theme-light #audio-player input[type="range"]:focus{outline:none}.theme-light #audio-player input[type="range"]::-webkit-slider-runnable-track{border:6px solid #f2f2f2;border-left:none;border-right:none;background-color:rgba(33,35,37,0.3);border-radius:10px;height:15px}.theme-light #audio-player input[type="range"]::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;margin-top:-7px;background-color:#ef8a00;border-radius:100px;height:15px;width:15px}.theme-light #audio-player input[type="range"]:focus::-webkit-slider-thumb{outline:3px solid #ef8a00;outline-offset:0.125rem}.theme-light #audio-player input[type="range"]::-moz-range-track{border:6px solid #f2f2f2;border-left:none;border-right:none;background-color:rgba(33,35,37,0.3);border-radius:10px;height:15px}.theme-light #audio-player input[type="range"]::-moz-range-thumb{background-color:#ef8a00;border:none;border-radius:100px;height:15px;width:15px}.theme-light #audio-player input[type="range"]:focus::-moz-range-thumb{outline:3px solid #ef8a00;outline-offset:0.125rem}.theme-dark #audio-player{flex:unset;max-width:unset;width:100%;text-align:center;margin:0 auto !important;margin-top:0 !important;box-sizing:border-box;background:#171717;color:#f9f8f8;position:relative;z-index:0;display:flex;flex-direction:row;align-content:center;align-items:center;padding:11px 25px}.theme-dark #audio-player:before{content:'';position:absolute;top:0;right:0;left:0;height:11px;background:linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%)}.theme-dark #audio-player .inner-wrap{display:flex;flex-direction:row;width:100%;font-size:17px;line-height:17px}.theme-dark #audio-player .book{cursor:pointer;display:flex;justify-content:center;align-items:center;font-size:15px;line-height:18px;color:#f9f8f8;margin-right:50px}.theme-dark #audio-player .player-innards{flex:1;display:flex;flex-direction:row;justify-items:center;align-items:center}.theme-dark #audio-player .time-display{color:#f9f8f8;font-family:'Inconsolata', monospace;margin-right:20px;display:flex;justify-items:center;align-items:center}.theme-dark #audio-player .player-buttons{display:flex;flex-direction:row;align-content:center;align-items:center;padding-left:20px}.theme-dark #audio-player .player-buttons>div{cursor:pointer;margin-left:15px;padding:5px}.theme-dark #audio-player .player-buttons>div:first-child{padding-left:0}.theme-dark #audio-player input[type="range"]{-webkit-appearance:none;appearance:none;background:transparent;cursor:pointer;width:100%}.theme-dark #audio-player input[type="range"]:focus{outline:none}.theme-dark #audio-player input[type="range"]::-webkit-slider-runnable-track{border:6px solid #171717;border-left:none;border-right:none;background-color:rgba(249,248,248,0.3);border-radius:10px;height:15px}.theme-dark #audio-player input[type="range"]::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;margin-top:-7px;background-color:#f79a1c;border-radius:100px;height:15px;width:15px}.theme-dark #audio-player input[type="range"]:focus::-webkit-slider-thumb{outline:3px solid #f79a1c;outline-offset:0.125rem}.theme-dark #audio-player input[type="range"]::-moz-range-track{border:6px solid #171717;border-left:none;border-right:none;background-color:rgba(249,248,248,0.3);border-radius:10px;height:15px}.theme-dark #audio-player input[type="range"]::-moz-range-thumb{background-color:#f79a1c;border:none;border-radius:100px;height:15px;width:15px}.theme-dark #audio-player input[type="range"]:focus::-moz-range-thumb{outline:3px solid #f79a1c;outline-offset:0.125rem}.theme-light .mobile-nav-open #audio-player{background:transparent;flex-direction:column !important;padding:8px;background:rgba(249,248,248,0.8)}.theme-light .mobile-nav-open #audio-player .inner-wrap{border:1px solid rgba(33,35,37,0.4);border-radius:8px;box-sizing:border-box;padding:10px 18px;flex-direction:column;font-size:19px;line-height:19px}.theme-light .mobile-nav-open #audio-player .book{margin:0;padding:0 5px 5px;font-size:15px !important;line-height:16px !important;font-size:inherit;line-height:inherit;display:block}.theme-dark .mobile-nav-open #audio-player{background:transparent;flex-direction:column !important;padding:8px;background:rgba(5,5,5,0.8)}.theme-dark .mobile-nav-open #audio-player .inner-wrap{border:1px solid rgba(249,248,248,0.4);border-radius:8px;box-sizing:border-box;padding:10px 18px;flex-direction:column;font-size:19px;line-height:19px}.theme-dark .mobile-nav-open #audio-player .book{margin:0;padding:0 5px 5px;font-size:15px !important;line-height:16px !important;font-size:inherit;line-height:inherit;display:block}@media (max-width: 380px){.mobile-nav-open #audio-player .inner-wrap{padding:10px;font-size:17px !important;line-height:17px !important}.mobile-nav-open #audio-player .time-display{margin-right:10px}.mobile-nav-open #audio-player .player-buttons{padding-left:10px}.mobile-nav-open #audio-player .player-buttons>div{margin-left:5px}}

.center-contents[data-v-8d08f46a]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-8d08f46a]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-8d08f46a{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-8d08f46a{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}.menu-items[data-v-8d08f46a],.menu-items>div[data-v-8d08f46a]{display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%}.menu-items.has-sub-menu>div[data-v-8d08f46a]{flex-direction:column !important;align-items:stretch !important}.menu-item[data-v-8d08f46a]{position:relative;white-space:nowrap;text-align:left}.menu-item .disabled[data-v-8d08f46a]{cursor:default !important;opacity:.4}.menu-item-inner[data-v-8d08f46a]{padding:10px 12px}.menu-item[data-v-8d08f46a],.menu-item-inner[data-v-8d08f46a],.menu-item-icon[data-v-8d08f46a],.menu-item-text[data-v-8d08f46a]{display:inline-flex;flex-direction:row;justify-content:flex-start;align-items:center}.menu-item-icon[data-v-8d08f46a]{width:18px;height:18px;padding-right:7px;display:inline-flex;justify-content:center;align-items:center}.theme-light .router-link-active>.menu-item-inner>.menu-item-icon[data-v-8d08f46a]{color:#ef8a00}.theme-dark .router-link-active>.menu-item-inner>.menu-item-icon[data-v-8d08f46a]{color:#f79a1c}.sub-menu[data-v-8d08f46a]{cursor:default;display:none;position:absolute;top:100%;left:0;z-index:10;min-width:100%}.theme-light .sub-menu[data-v-8d08f46a]{background:#fff;color:#212325;box-shadow:0 5px 15px rgba(153,153,153,0.7);border:1px solid rgba(33,35,37,0.2)}.theme-dark .sub-menu[data-v-8d08f46a]{background:#242424;color:#f9f8f8;box-shadow:0 5px 15px rgba(0,0,0,0.7);border:1px solid rgba(249,248,248,0.2)}.menu-item:hover .sub-menu[data-v-8d08f46a]{display:block;-webkit-animation:swing-in-top-fwd-data-v-8d08f46a 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;animation:swing-in-top-fwd-data-v-8d08f46a 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both}@-webkit-keyframes swing-in-top-fwd-data-v-8d08f46a{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd-data-v-8d08f46a{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}.theme-light .sub-menu .menu-item[data-v-8d08f46a]{border-bottom:1px solid rgba(33,35,37,0.2);cursor:pointer}.theme-dark .sub-menu .menu-item[data-v-8d08f46a]{border-bottom:1px solid rgba(249,248,248,0.2);cursor:pointer}.extension-tools[data-v-8d08f46a]{margin-left:10px;padding:6px 0}.extension-tools>.menu-item-inner[data-v-8d08f46a]{padding:2px 9px;border-radius:99999px !important}.extension-tools>.menu-item-inner>span[data-v-8d08f46a]{padding:0 !important;font-size:.85em}.theme-light .extension-tools>.menu-item-inner[data-v-8d08f46a]{border:2px solid #ef8a00;background:rgba(239,138,0,0.1)}.theme-dark .extension-tools>.menu-item-inner[data-v-8d08f46a]{border:2px solid #f79a1c;background:rgba(247,154,28,0.1)}.menu-icon-toolbar[data-v-8d08f46a]{display:inline-flex;flex-direction:row;justify-content:center;align-items:center;margin:5px 0;border-radius:9999px;margin-left:10px;padding:0 4px}.menu-icon-toolbar div[data-v-8d08f46a]{padding:2px 5px;cursor:pointer}.theme-light .menu-icon-toolbar[data-v-8d08f46a]{border:1px solid rgba(33,35,37,0.1)}.theme-dark .menu-icon-toolbar[data-v-8d08f46a]{border:1px solid rgba(249,248,248,0.1)}.mobile-menu-top-filler[data-v-8d08f46a]{flex:1;cursor:pointer}.mobile-menu-top-spacer[data-v-8d08f46a]{flex:.2}.mobileMenu[data-v-8d08f46a]{height:100%;flex-direction:column-reverse !important;justify-content:stretch;align-items:stretch}.mobileMenu>div[data-v-8d08f46a]{display:flex;flex-direction:column;justify-content:unset;align-items:unset;overflow:auto;flex:1;min-height:0}.mobileMenu>div[data-v-8d08f46a],.mobileMenu>div svg[data-v-8d08f46a],.mobileMenu>div div[data-v-8d08f46a]{font-size:21px !important;line-height:21px !important}.mobileMenu>div .menu-icon-toolbar[data-v-8d08f46a]{margin-left:0;padding:15px 0;border:none;border-radius:0;position:relative;z-index:0}.mobileMenu>div .menu-icon-toolbar>div[data-v-8d08f46a]{padding:0 20px}.mobileMenu>div .menu-icon-toolbar[data-v-8d08f46a]:before{content:'';position:absolute;z-index:1;top:0px;right:0;left:0;width:100%;height:1px}.theme-light .mobileMenu>div .menu-icon-toolbar[data-v-8d08f46a]:before{background:rgba(33,35,37,0.1)}.theme-dark .mobileMenu>div .menu-icon-toolbar[data-v-8d08f46a]:before{background:rgba(249,248,248,0.1)}.mobileMenu>div .menu-item-icon[data-v-8d08f46a]{width:38px;height:38px;padding-left:15px;padding-right:15px}.theme-light .mobileMenu>div .menu-item-icon[data-v-8d08f46a]{color:rgba(33,35,37,0.6)}.theme-dark .mobileMenu>div .menu-item-icon[data-v-8d08f46a]{color:rgba(249,248,248,0.6)}.theme-light .mobileMenu>div .menu-item[data-v-8d08f46a]{border-top:1px solid rgba(33,35,37,0.1)}.theme-dark .mobileMenu>div .menu-item[data-v-8d08f46a]{border-top:1px solid rgba(249,248,248,0.1)}.theme-light .mobileMenu>div .menu-item:hover .menu-item-text[data-v-8d08f46a]{color:#ef8a00}.theme-dark .mobileMenu>div .menu-item:hover .menu-item-text[data-v-8d08f46a]{color:#f79a1c}

.center-contents,#mobile-menu-floaters,#mobile-menu-floaters .search-btn,#mobile-menu-floaters .burger-menu,#mobile-menu-floaters .second-row{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}#mobile-menu-floaters{transition:bottom 200ms ease-in-out;position:fixed;z-index:905;bottom:15px;right:15px;align-items:flex-end;align-content:flex-end;flex-direction:column}#mobile-menu-floaters.mobile{bottom:65px}#mobile-menu-floaters,#mobile-menu-floaters a{color:#fff !important}#mobile-menu-floaters .search-btn{position:absolute;top:-46px;cursor:pointer;border-radius:999999px;width:32px;height:32px;background:rgba(41,41,41,0.9);border:1px solid #fff}#mobile-menu-floaters .search-btn,#mobile-menu-floaters .search-btn svg{color:#fff}#mobile-menu-floaters .burger-menu{cursor:pointer;position:relative;z-index:999999999;width:60px;height:60px;font-size:1.4em;border-radius:999999px;color:#fff;box-shadow:0 2px 15px rgba(0,0,0,0.5)}.theme-light #mobile-menu-floaters .burger-menu{background:#ef8a00;border:2px solid rgba(249,248,248,0.8)}.theme-dark #mobile-menu-floaters .burger-menu{background:#f79a1c;border:2px solid rgba(5,5,5,0.8)}.player-open-indicator{display:flex;justify-content:center;align-items:center;position:absolute;top:0;right:0;font-size:11px;width:22px;height:22px;border-radius:999999px;-webkit-animation:slide-in-blurred-tl 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;animation:slide-in-blurred-tl 0.6s cubic-bezier(0.23, 1, 0.32, 1) both}.theme-light .player-open-indicator{background:#ef8a00;background:#ff1947}.theme-dark .player-open-indicator{background:#f79a1c;background:#ff1947}@-webkit-keyframes slide-in-blurred-tl{0%{-webkit-transform:translate(-1000px, -1000px) skew(80deg, 10deg);transform:translate(-1000px, -1000px) skew(80deg, 10deg);-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0, 0) skew(0deg, 0deg);transform:translate(0, 0) skew(0deg, 0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-tl{0%{-webkit-transform:translate(-1000px, -1000px) skew(80deg, 10deg);transform:translate(-1000px, -1000px) skew(80deg, 10deg);-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0, 0) skew(0deg, 0deg);transform:translate(0, 0) skew(0deg, 0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.center-contents{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}#nav-outer-wrapper{display:inline-block;text-align:center;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}#ale-navigation{position:fixed;z-index:900;top:0;right:0;left:0;box-shadow:0px 2px 13px rgba(0,0,0,0.4)}.theme-light #ale-navigation{background:#fff;color:#212325}.theme-dark #ale-navigation{background:#242424;color:#f9f8f8}#ale-navigation,#ale-navigation a{text-decoration:none}.theme-light #ale-navigation,.theme-light #ale-navigation a{color:#212325 !important}.theme-dark #ale-navigation,.theme-dark #ale-navigation a{color:#f9f8f8 !important}#ale-navigation .menu-items{flex-direction:column}.theme-light #nav-outer-wrapper.mobile-nav #ale-navigation{display:none;background:#fff}.theme-dark #nav-outer-wrapper.mobile-nav #ale-navigation{display:none;background:#242424}.theme-light #nav-outer-wrapper.mobile-nav-open #ale-navigation{flex-direction:column-reverse;display:block;background:rgba(249,248,248,0.85);-webkit-backdrop-filter:grayscale(0.96) blur(1.5px);backdrop-filter:grayscale(0.96) blur(1.5px);bottom:0px;-webkit-animation:swing-in-top-fwd 360ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;animation:swing-in-top-fwd 360ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both}@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}.theme-light #nav-outer-wrapper.mobile-nav-open #ale-navigation .menu-items{height:100%;flex-direction:column;justify-content:center;align-items:stretch}.theme-dark #nav-outer-wrapper.mobile-nav-open #ale-navigation{flex-direction:column-reverse;display:block;background:rgba(5,5,5,0.85);-webkit-backdrop-filter:grayscale(0.96) blur(1.5px);backdrop-filter:grayscale(0.96) blur(1.5px);bottom:0px;-webkit-animation:swing-in-top-fwd 360ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;animation:swing-in-top-fwd 360ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both}@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}.theme-dark #nav-outer-wrapper.mobile-nav-open #ale-navigation .menu-items{height:100%;flex-direction:column;justify-content:center;align-items:stretch}.floater-components{position:absolute;z-index:50}

.center-contents[data-v-7c171a37]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-7c171a37]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-7c171a37{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-7c171a37{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}#ale-background[data-v-7c171a37]{position:fixed;z-index:-1;left:-3.05%;right:-3.05%;top:0;text-align:center;font-size:0px;line-height:0px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-mask-image:linear-gradient(to bottom, #000 0%, #000 19%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%);mask-image:linear-gradient(to bottom, #000 0%, #000 19%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%)}#ale-background .image-wrapper[data-v-7c171a37]{display:inline-block;position:relative;z-index:0;width:6%;margin:2px;transition:all 900ms;opacity:.25;transform:rotateY(0deg);animation:1000ms showImage-data-v-7c171a37}#ale-background .image-wrapper.flip-out[data-v-7c171a37]{opacity:0;transform:rotateY(180deg);transition-duration:1000ms}@-webkit-keyframes showImage-data-v-7c171a37{0%{opacity:0}100%{opacity:.25}}@keyframes showImage-data-v-7c171a37{0%{opacity:0}100%{opacity:.25}}#ale-background .image-wrapper img[data-v-7c171a37]{display:inline-block;width:100%}@media (max-width: 1300px){#ale-background .image-wrapper[data-v-7c171a37]{width:7.55%}}@media (max-width: 1000px){#ale-background .image-wrapper[data-v-7c171a37]{width:11.37%}}@media (max-width: 760px){#ale-background .image-wrapper[data-v-7c171a37]{width:15.09%}}@media (max-width: 530px){#ale-background .image-wrapper[data-v-7c171a37]{width:17.95%}}

.center-contents{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@font-face{font-family:'Inconsolata';font-style:normal;font-weight:400;src:local(""),url(fonts/inconsolata-v21-latin-regular.woff2) format("woff2"),url(fonts/inconsolata-v21-latin-regular.woff) format("woff")}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local(""),url(fonts/roboto-v29-latin-regular.woff2) format("woff2"),url(fonts/roboto-v29-latin-regular.woff) format("woff")}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local(""),url(fonts/roboto-v29-latin-700.woff2) format("woff2"),url(fonts/roboto-v29-latin-700.woff) format("woff")}html.theme-dark{background-color:#050505 !important}html.theme-light{background-color:#f9f8f8 !important}html{padding-top:1px;margin:0;margin-top:-1px}body{margin:0px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:"Roboto", sans-serif !important;font-size:14px !important;line-height:1.55em !important}#audible-library-extractor{box-sizing:border-box;padding-top:80px}#audible-library-extractor.mobile-threshold{padding-top:45px}#audible-library-extractor a{text-decoration:none}.theme-light #audible-library-extractor a{color:#ef8a00}.theme-dark #audible-library-extractor a{color:#f79a1c}.theme-light #audible-library-extractor a:visited{color:#6d4003}.theme-dark #audible-library-extractor a:visited{color:#8b5409}.theme-light #audible-library-extractor a:hover{color:#212325}.theme-dark #audible-library-extractor a:hover{color:#f9f8f8}.tippy-popper .tippy-content{padding:3px !important;font-size:13px !important;line-height:19px !important;text-align:left}.tippy-popper .tippy-content ul{padding-left:22px}.tippy-tooltip{border-radius:11px}.theme-dark .tippy-popper .tippy-tooltip{background:#2b2b2b;border:1px solid #5c5c5c;box-shadow:2px 2px 10px rgba(0,0,0,0.95) !important}.theme-dark .tippy-popper .tippy-tooltip .tippy-content{color:#f9f8f8}.theme-dark .tippy-popper .tippy-tooltip .tippy-content a{text-decoration:underline !important;color:#f9f8f8}.theme-dark .tippy-popper[x-placement^="top"] .tippy-arrow{border-top-color:#5c5c5c;bottom:-8px}.theme-dark .tippy-popper[x-placement^="right"] .tippy-arrow{border-right-color:#5c5c5c;left:-8px}.theme-dark .tippy-popper[x-placement^="bottom"] .tippy-arrow{border-bottom-color:#5c5c5c;top:-8px}.theme-dark .tippy-popper[x-placement^="left"] .tippy-arrow{border-left-color:#5c5c5c;right:-8px}.theme-light .tippy-popper .tippy-tooltip{background:#fff;border:1px solid #e1dddd;box-shadow:2px 2px 10px rgba(0,0,0,0.35) !important}.theme-light .tippy-popper .tippy-tooltip .tippy-content{color:#212325}.theme-light .tippy-popper .tippy-tooltip .tippy-content a{text-decoration:underline !important;color:#212325}.theme-light .tippy-popper[x-placement^="top"] .tippy-arrow{border-top-color:#f9f8f8}.theme-light .tippy-popper[x-placement^="right"] .tippy-arrow{border-right-color:#f9f8f8}.theme-light .tippy-popper[x-placement^="bottom"] .tippy-arrow{border-bottom-color:#f9f8f8}.theme-light .tippy-popper[x-placement^="left"] .tippy-arrow{border-left-color:#f9f8f8}[content]{outline:none !important}#nothing-here-404{text-align:center;font-size:2em;line-height:2em}.theme-light #nothing-here-404{color:#212325}.theme-dark #nothing-here-404{color:#f9f8f8}div[data-block-scrolling]{height:100vh !important;width:100vw !important;overflow:hidden !important}.theme-light .audible-orange-text{color:#ef8a00 !important}.theme-dark .audible-orange-text{color:#f79a1c !important}.theme-light .audible-orange-background{background:#ef8a00 !important}.theme-dark .audible-orange-background{background:#f79a1c !important}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.center-contents[data-v-2ecb7de5]{display:flex;flex-direction:row;align-items:center;justify-items:center;align-content:center;justify-content:center}.no-selection[data-v-2ecb7de5]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@-webkit-keyframes pulsate-bck-data-v-2ecb7de5{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck-data-v-2ecb7de5{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.9);transform:scale(0.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}

.tippy-tooltip.light-border-theme{background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,8,16,.15);color:#26323d;box-shadow:0 3px 14px -.5px rgba(0,8,16,.08)}.tippy-tooltip.light-border-theme .tippy-backdrop{background-color:#fff}.tippy-tooltip.light-border-theme .tippy-arrow:after,.tippy-tooltip.light-border-theme .tippy-arrow:before,.tippy-tooltip.light-border-theme .tippy-roundarrow:after,.tippy-tooltip.light-border-theme .tippy-roundarrow:before{content:"";position:absolute;z-index:-1}.tippy-tooltip.light-border-theme .tippy-roundarrow{fill:#fff}.tippy-tooltip.light-border-theme .tippy-roundarrow:after{background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNDE0IiB2aWV3Qm94PSIwIDAgMTggNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA3czIuMDIxLS4wMTUgNS4yNTMtNC4yMThDNi41ODQgMS4wNTEgNy43OTcuMDA3IDkgMGMxLjIwMy0uMDA3IDIuNDE2IDEuMDM1IDMuNzYxIDIuNzgyQzE2LjAxMiA3LjAwNSAxOCA3IDE4IDd6IiBmaWxsPSIjMzMzIiBmaWxsLW9wYWNpdHk9Ii4yMzUiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);background-size:18px 7px;width:18px;height:7px;left:0;top:0;fill:rgba(0,8,16,.15)}.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-roundarrow:after{top:1px;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow{border-top-color:#fff}.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow:after{border-top:7px solid #fff;top:-7px}.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow:before{border-top:7px solid rgba(0,8,16,.2);bottom:-1px}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-roundarrow:after{top:-1px}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow{border-bottom-color:#fff}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow:after{border-bottom:7px solid #fff;bottom:-7px}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow:before{border-bottom:7px solid rgba(0,8,16,.2);bottom:-6px}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-roundarrow:after{left:1px;top:0;-webkit-transform:rotate(90deg);transform:rotate(90deg)}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow{border-left-color:#fff}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow:after{border-left:7px solid #fff;left:-7px}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow:before{border-left:7px solid rgba(0,8,16,.2);left:-6px}.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-roundarrow:after{left:-1px;top:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow{border-right-color:#fff}.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow:after{border-right:7px solid #fff;right:-7px}.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow:before{border-right:7px solid rgba(0,8,16,.2);right:-6px}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow,.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-roundarrow,.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow,.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-roundarrow{-webkit-transform:translateX(-1px);transform:translateX(-1px)}.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow:after,.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow:before,.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow:after,.tippy-tooltip.light-border-theme[x-placement^=top] .tippy-arrow:before{left:-7px;border-left:7px solid transparent;border-right:7px solid transparent}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow,.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-roundarrow,.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow,.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-roundarrow{-webkit-transform:translateY(-1px);transform:translateY(-1px)}.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow:after,.tippy-tooltip.light-border-theme[x-placement^=left] .tippy-arrow:before,.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow:after,.tippy-tooltip.light-border-theme[x-placement^=right] .tippy-arrow:before{top:-7px;border-top:7px solid transparent;border-bottom:7px solid transparent}
